<!DOCTYPE html>
<html>
<head>
	<title>Thought Bot</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<header>
		<div id="app-menu">
			<div id="app-name"><a href="/">Thought Bot</a></div>
			<a href="#" class="menu-toggle">Menu</a>
		</div>
		<form id="search-form">
			<input type="text" placeholder="Search" id="search-box" />
		</form>
		<div id="utils">
			<a href="#" id="utils-add">Add</a>
		</div>
	</header>

	<div id="main">
		<section>
			<h2>Sorry, your account is not authorized to use this service.</h2>
		</section>
	</div>

</body>
</html>
