<!DOCTYPE html>
<html class="preload">
<head>
	<title>Food for Thought</title>
	<link href="/css/waves.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/intro.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script type="text/javascript" src="/js/waves.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="fullpage">

	<header>
		<div id="app-nav">
			<div id="app-menu">
				<label class="menu-link link">Menu</label>
			</div>
			<div class="app-name"><a href="/">Food for Thought</a></div>
		</div>
	</header>

	<div id="main">
		<div id="intro">
			<h2>Write about anything and we’ll send you the best stuff around the web to help you broaden and deepen your knowledge.</h2>
			<a href="/auth/google" class="intro-coa">Let’s Go</a>
		</div>
	</div>

</body>
</html>
