body {
	margin: 0;
	background: #fff;
}

header {
	top: -56px;
}

#main {
	margin: 0;
}

#composer {
	margin: 0;
	background: #fff;
	box-sizing: border-box;
	border-radius: 2px;
	overflow: hidden;
	transition-duration: 0.5s;
}

#composer-page {
	font-size: 16px;
	line-height: 28px;
	min-height: 600px;
	outline: 0;
	padding: 76px 16px;
}

#composer-page p {
	margin: 0;
}

#composer-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 4px;
	background: rgba(255,255,255,0.65);
}

#composer-header a,
#composer-header .link {
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -999999px;
}

#composer-header .discard-link {
	float: left;
	background: url(/img/icon-close.svg);
	background-size: cover;
}

#composer-header .submit-link {
	background: url(/img/icon-complete.svg);
	background-size: cover;
	float: right;
	border: 0;
}


@media screen and (min-width: 700px) {
	body {
		background: #fafafa;
	}

	header {
		top: 0;
	}
	
	#main {
		margin: 96px auto;
	}
	
	#composer {
		margin: 16px;
		border: 1px solid rgba(0,0,0,0.12);
	}

	#composer-header {
		position: static;
		margin: 0 0 -72px 0;
		padding: 12px;
		height: 48px;
	}

	#composer-page {
		font-size: 20px;
		line-height: 36px;
		min-height: 800px;
		padding: 92px 80px;
	}
}